@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Rocaone";
  src: url("/fonts/rocaone-bold-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



html {
  scroll-behavior: smooth;
}

.icon-class {
  line-height: 1;
  vertical-align: middle;
  /* or top, bottom depending on your needs */
}

.skills-container {
  display: flex;
  justify-content: center;
  padding: 3rem 0;
  flex-wrap: wrap;
}

.skills-grid {
  box-sizing: border-box;
  width: 100%;
  max-width: 960px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  justify-items: center;
}

.skills-item {
  position: relative;
  background: white;
  box-shadow: 0 0 10px 2px #dedede;
  padding-bottom: 1.5rem;
  width: 280px;
  margin: 1.5rem;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 0 1rem 0;
  font-size: 1.3rem;
}

.item {
  display: flex;
  align-items: center;
  padding: 0.4rem 0;
  padding-left: 2.5rem;
}

.item-icon {
  width: 16px;
  height: 16px;
  margin-right: 1rem;
}

.icon {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 84px;
  height: 84px;
  border-radius: 50%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px 3px #eee;
}

/* ANIMATION */

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  animation: fadeInUp 1s ease-out;
}